@import "../../_globalColor";

.title-icon {
  display: flex;
  align-items: center;
}

.icons {
  margin-left: 10px;
}

.fa-github,
.fa-window-maximize {
  margin-left: 14px;
  margin-right: 22px;
  margin-bottom: 5px;
  font-size: 45px;
}

.gitHub-dark {
  color: rgb(170, 170, 170);
}

.gitHub-dark:hover {
  color: rgb(255, 255, 255);
}

.gitHub-light {
  color: rgb(0, 0, 0);
}

.gitHub-light:hover {
  color: rgb(85, 85, 85);
}

.fa-window-maximize {
  color: rgb(0, 155, 155);
}

.fa-window-maximize:hover {
  color: rgb(2, 221, 221);
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 56px;
  margin-top: 200px;
  font-weight: 900;
}
.skills-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

.skills-secondary-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 200px 0px;
}

.skills-text-div {
  margin-left: 50px;
  width: 50%;
}

.skills-text-div-phone {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.tech-phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.tech {
  display: flex;
  flex-wrap: wrap;
}

.tech-stack {
  background-color: rgb(0, 102, 102);
  margin: 5px;
  border-radius: 8px;
  padding: 5px;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div-light,
.skills-image-div-dark {
  width: 40%;
}

.skills-image-div-light > img {
  max-width: 120%;
  max-height: fit-content;
  margin: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.487) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}

.skills-image-div-dark > img {
  max-width: 120%;
  max-height: fit-content;
  margin: 0;
  padding: 0;
  box-shadow: rgba(255, 255, 255, 0.361) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.288) 0px 2px 16px 0px;
}

.phone-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-image-div-phone > img {
  max-height: 400px;
  max-width: fit-content;
  margin: 0;
  padding: 0;
}

.skills-heading {
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
  height: inherit;
}
.subTitle {
  color: $subTitle;
}

.subTitle-phone {
  color: $subTitle;
  width: 100%;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
    margin-bottom: 5px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 45px;
  }

  .skills-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div-light,
  .skills-image-div-dark {
    /* display: none; */
    order: 2;
  }
}

@media (max-width: 480px) {
  .icons {
    display: flex;
    flex-direction: row;
  }
  .fa-github,
  .fa-window-maximize {
    margin-left: 6px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .tech {
    margin-bottom: 15px;
  }
  .skills-heading {
    font-size: 20px;
  }
  .skills-text-subtitle {
    width: 200px;
    font-size: 10px;
  }

  .tech-stack {
    font-size: 8px;
  }

  .title {
    font-size: 38px;
    margin-top: 0px;
  }

  .skills-main-div {
    margin-bottom: 0px;
  }

  .skills-secondary-div {
    margin: 50px 0px;
  }

  .skills-secondary-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-text-div-phone,
  .skills-text-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
  }

  .skills-text-div {
    margin-top: 10px;
  }

  .skills-text-subtitle {
    text-align: center;
  }

  .tech,
  .tech-phone {
    display: flex;
    justify-content: center;
  }
  .title {
    margin-bottom: 0px;
  }

  .skills-image-div-light,
  .skills-image-div-dark {
    width: 70%;
  }

  .skills-image-div-phone > img {
    max-height: 400px;
    margin-top: 20px;
  }

  .skills-image-div-light,
  .skills-image-div-dark {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .icons {
    display: flex;
    flex-direction: row;
  }
  .fa-github,
  .fa-window-maximize {
    margin-left: 6px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .skills-heading {
    font-size: 22px;
  }
  .skills-text-subtitle {
    width: 380px;
    font-size: 12px;
  }

  .tech-stack {
    font-size: 10px;
  }

  .title {
    font-size: 42px;
    margin-top: 0px;
  }

  .skills-main-div {
    margin-bottom: 5px;
  }

  .skills-secondary-div {
    margin: 70px 0px;
  }

  .skills-secondary-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-text-div-phone,
  .skills-text-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
  }

  .skills-text-div {
    margin-top: 15px;
  }
  .skills-text-subtitle {
    text-align: center;
  }

  .tech,
  .tech-phone {
    display: flex;
    justify-content: center;
  }

  .skills-heading {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .tech,
  .tech-phone {
    width: 350px;
    font-size: 10px;
  }

  .title {
    margin-bottom: 0px;
  }

  .skills-image-div-light,
  .skills-image-div-dark {
    width: 70%;
  }

  .skills-image-div-phone > img {
    max-height: 400px;
    margin-top: 30px;
  }

  .skills-image-div-light,
  .skills-image-div-dark {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .fa-github,
  .fa-window-maximize {
    margin-left: 9px;
    margin-right: 16px;
    margin-bottom: 5px;
    font-size: 30px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .skills-heading {
    font-size: 22px;
  }
  .skills-text-subtitle {
    width: 600px;
    font-size: 15px;
  }

  .tech-stack {
    font-size: 12px;
  }

  .title {
    font-size: 45px;
    margin-top: 10px;
  }

  .skills-main-div {
    margin-bottom: 7px;
  }

  .skills-secondary-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
  }

  .skills-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-text-div-phone,
  .skills-text-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
  }

  .skills-text-div {
    margin-bottom: 20px;
  }

  .skills-text-subtitle {
    text-align: center;
  }

  .tech,
  .tech-phone {
    display: flex;
    justify-content: center;
  }
  .skills-heading {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .tech,
  .tech-phone {
    width: 350px;
    font-size: 12px;
  }
  .title {
    margin-bottom: 0px;
  }

  .skills-image-div-light,
  .skills-image-div-dark {
    width: 70%;
    margin-bottom: 20px;
  }

  .skills-image-div-phone > img {
    max-height: 500px;
    margin-top: 50px;
  }

  .skills-image-div-light,
  .skills-image-div-dark {
    display: flex;
    justify-content: center;
  }

  .fa-github,
  .fa-window-maximize {
    margin-left: 8px;
    margin-right: 12px;
    margin-bottom: 5px;
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .skills-secondary-div {
    margin: 80px 0px;
  }

  .skills-heading {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .skills-text-subtitle {
    width: 400px;
    font-size: 15px;
  }
  .tech,
  .tech-phone {
    width: 450px;
    font-size: 12px;
  }
  .title {
    margin-bottom: 0px;
  }
  .fa-github,
  .fa-window-maximize {
    margin-left: 10px;
    margin-right: 16px;
    margin-bottom: 5px;
    font-size: 40px;
  }
}

@media (min-width: 1201px) {
  .skills-heading {
    font-size: 48px;
    margin-bottom: 5px;
  }
  .skills-text-subtitle {
    width: 500px;
    font-size: 18px;
  }
  .tech,
  .tech-phone {
    width: 500px;
    font-size: 14px;
  }
}
