@import "../../_globalColor";

@import url("https://fonts.googleapis.com/css2?family=Allison&family=Great+Vibes&display=swap");

.intro {
  margin-bottom: 25px;
}
.tech-container {
  display: flex;
  flex-wrap: wrap;
}
.tech-all {
  background-color: rgb(0, 69, 69);
  margin: 5px;
  border-radius: 8px;
  padding: 5px;
  width: fit-content;
}

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greet-main {
  // z-index: 0;
  // position: relative;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.subTitle {
  color: $subTitle !important;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 60px;
  line-height: 1.1;
  color: $textColor !important;
  margin-bottom: 0px;
}

.about-me-container {
  // margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
}

.greeting-image-div {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.image-light {
  width: 50%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.487) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}

.image-dark {
  width: 50%;
  height: auto;
  box-shadow: rgba(255, 255, 255, 0.43) 0px 2px 4px 0px,
    rgba(245, 245, 245, 0.32) 0px 2px 16px 0px;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: flex;
    flex-direction: column;
  }
  .greeting-image-div {
    height: 256px;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
  .image-dark,
  .image-light {
    width: 25%;
    height: auto;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .greeting-text {
    font-size: 35px;
  }
  .greeting-text-p,
  .intro {
    font-size: 12px;
  }

  .image-dark,
  .image-light {
    width: 30%;
    height: auto;
  }

  .tech-all {
    font-size: 8px;
  }
  .social,
  .tech-container {
    width: inherit;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .greeting-text {
    font-size: 40px;
  }
  .greeting-text-p,
  .intro {
    font-size: 14px;
  }
  .image-dark,
  .image-light {
    width: 50%;
    height: auto;
  }
  .tech-all {
    font-size: 10px;
  }
  .social,
  .tech-container {
    width: inherit;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1025px) and (min-width: 769px) {
  .greeting-text {
    font-size: 48px;
  }
  .greeting-text-p,
  .intro {
    font-size: 16px;
  }
  .tech-all {
    font-size: 11px;
  }
  .social,
  .tech-container {
    width: inherit;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .image-dark,
  .image-light {
    width: 45%;
    height: auto;
  }
  .social,
  .tech-container {
    display: flex;
    justify-content: center;
  }
  .greeting-text {
    font-size: 55px;
  }
  .greeting-text-p,
  .intro {
    font-size: 18px;
  }
  .tech-all {
    font-size: 12px;
  }
  .tech-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 1201px) {
  .greeting-text {
    font-size: 60px;
  }
  .greeting-text-p,
  .intro {
    font-size: 15px;
  }

  .tech-all {
    font-size: 14px;
  }
}
