@import "../../_globalColor";
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.form-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  padding: 25px 5px 20px 0px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 560px;
}

.form-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 25px 5px 20px 0px;
  box-shadow: rgb(132, 132, 132) 0px 2px 4px 0px,
    rgba(132, 132, 132) 0px 2px 16px 0px;
  width: 560px;
}

.input-name,
.input-email,
.message {
  font-family: "Montserrat";
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 380px;
  height: 30px;
  font-size: 20px;
  border: rgb(226, 225, 225) solid;
}

.message {
  height: 90px;
}
.submit {
  font-family: "Montserrat";
  background-color: rgb(0, 244, 0);
  font-size: 42px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 900;
  padding: 15px;
  border: none;
  width: 800px;
}

.submit:hover {
  background-color: lime;
}

@media (max-width: 480px) {
  .form-dark,
  .form-light {
    padding: 25px 20px 10px;
    width: 200px;
  }
  .input-name,
  .input-email,
  .message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 180px;
    height: 15px;
    font-size: 12px;
  }

  .submit {
    font-size: 30px;
    border-radius: 10px;
    font-weight: 900;
    padding: 15px;
    border: none;
    width: 410px;
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 38px;
  }
  .contact-subtitle {
    font-size: 12px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .contact-title {
    font-size: 42px;
  }
  .contact-subtitle {
    font-size: 15px;
  }

  .form-dark,
  .form-light {
    padding: 25px 20px 10px;
    width: 400px;
  }
  .input-name,
  .input-email,
  .message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 350px;
    height: 30px;
    font-size: 18px;
  }

  .submit {
    font-size: 40px;
    border-radius: 10px;
    font-weight: 900;
    padding: 15px;
    border: none;
    width: 740px;
  }
}

@media (min-width: 769px) {
  .contact-title {
    font-size: 48px;
  }
  .contact-subtitle {
    font-size: 18px;
  }
}
