@import "../../_globalColor";
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Great+Vibes&display=swap");
/*React-headroom*/
.headroom-wrapper {
  max-height: 100px;
}

/* header */

.dark-menu {
  background-color: $darkBackground !important;
  color: $textColorDark;
}

.dark-menu li a {
  color: $textColorDark !important;
}

.dark-menu li a:hover {
  color: #171c28;
  border-radius: 6px;
  background-color: $buttonColor !important;
}

.header {
  max-width: 100%;
  padding: 15px 20px;
  margin: 0px auto;
  background-color: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.grey-color {
  color: $subTitle;
}

.header li a {
  display: block;
  padding: 15px 20px;
  color: $textColor;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: white;
  border-radius: 6px;
  background-color: $darkBackground;
}

.header .logo {
  display: block;
  flex: none;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

.no-border {
  border: none !important;
}

.dark {
  color: white;
}

.light {
  color: #171c28;
}
.header .logo-name {
  // margin-left: 65px;
  font-family: "Great Vibes", cursive;
  // font-family: "Allison", cursive;
  font-size: 45px;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 20px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
// .greeting-text-div {
//   background-color: white;
//   position: relative;
// }
.header .menu-icon .navicon {
  background: $iconBackground;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon-dark {
  background: $textColorDark;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $iconBackground;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon-dark:before,
.header .menu-icon .navicon-dark:after {
  background: $textColorDark !important;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 486px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent !important;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

// @media (min-width: 48em) {
//   .header li {
//     float: left;
//   }
//   .header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
//   .header .menu {
//     max-height: none;
//   }
//   .header .menu-icon {
//     display: none;
//   }
// }

@media (max-width: 480px) and (min-width: 320px) {
  .header {
    font-size: 12px;
  }

  .header .logo-name {
    font-size: 20px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .header {
    font-size: 13px;
  }

  .header .logo-name {
    font-size: 26px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .header .logo-name {
    font-size: 30px;
  }

  .header {
    font-size: 14px;
  }
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .header .logo-name {
    font-size: 35px;
  }
  .header {
    font-size: 16px;
  }

  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (min-width: 1201px) {
  .header .logo-name {
    // margin-left: 65px;
    font-size: 45px;
  }

  .header {
    font-size: 18px;
  }

  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
